asgiref
certifi
charset-normalizer
Django
django-cors-headers
django-currentuser
django-filter
djangorestframework
djangorestframework-simplejwt
drf-yasg
idna
inflection
packaging
psycopg2-binary
PyJWT
pytz
PyYAML
requests
sqlparse
urllib3

